.added-byline {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 600;
    color: #000;
    margin: 10px 0px;
}
